<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Type import-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <!--CSS import-->
    <link href="/css/stylesheet_aboutUs.css" rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <!--Wrapper-Flexbox-->
    <main>
        <!--CSS Flexbox Header-->
        <div class="header">
            <!--Logo "Uni-Collab'" left side-->
            <h1 class="logo">The Uni - Collab' Story</h1>
            <!--Header Buttons right side-->
            <div class="header_buttons">
                <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
            </div>
        </div>
        <!--Middle Flexbox-->
        <div class="middle">
            <!--Example Text-->
            <p class="aboutUsText">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et
                dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus
                est
                Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et
                dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus
                est
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed
                diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus
                est
                Lorem ipsum dolor sit amet.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                dolore eu
                feugiat nulla facilisis at vero eros et accumsan et
                iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                facilisi.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>

        <!--Bottom (no Flexbox)-->
        <div class="magicmaker">
            <!--Decoration Line-->
            <hr width="100%" size="2">
            <!--Title-->
            <h2 class="headline2">
                The Magicmaker
            </h2>
            <!--Pictures Flexbox-->
            <div class="gallery">
                <!--Pic Malte -->
                <figure>
                    <img src="Malte.png" alt="Malte Rieck" class="roundpic" Malte Rieck>
                    <p class="desc">Malte Rieck</p>
                </figure>
                <!--Pic Phillipp -->
                <figure>
                    <img src="Phillipp.png" alt="Philipp Schult" class="roundpic">
                    <p class="desc">Philipp Schult</p>
                </figure>
                <!--Pic Markus -->
                <figure>
                    <img src="Markus.png" alt="Markus Epstein" class="roundpic">
                    <p class="desc">Markus Epstein</p>
                </figure>
                <!--Pic Jannik -->
                <figure>
                    <img src="Jannik.png" alt="Jannik Hoeffner" class="roundpic">
                    <p class="desc">Jannik Hoeffner</p>
                </figure>
            </div>
        </div>
        <!--Button Back to Site-->
        <button class="button_back" onclick="window.location.href='/landingPage'">Zur Startseite</button><br>
    </main>
</body>

</html>