<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Type-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <!--CSS Datei-->
    <link href="/css/stylesheet_function.css" rel="stylesheet">
    <!--Überschrift-->
    <title>Funktionen</title>
</head>

<body>
    <main>
        <div class="header">
            <h1 class="logo">Uni - Collab'</h1> 
            <!--Logo "Uni-Collab'" auf der linken Seite-->
            <div class="header_buttons">
                <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
            </div>
        </div>
        
        <div class="middle">
                <!--Kalender - Row-->
            <div class="calendar_row">
                <h1 class="function_heading">Kalendar</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
                <!--ToDo - Row-->
            <div class="todo_row">
                <h1 class="function_heading">To-Do</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
                <!--Gruppen - Row-->
            <div class="group_row">
                <h1 class="function_heading">Gruppen</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
                <!--Dokumenten - Row-->
            <div class="doc_row">
                <h1 class="function_heading">Dokumente</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
        </div>
        <!--Button unter den Funktionen um auf die Startseite zurück zu gelangen-->
        <button class="button_back" onclick="document.location='/landingPage'">zur Startseite</button>
    </main>
</body>

</html>