<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Type import-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <!--CSS import-->
    <link href="/css/stylesheet_function.css" rel="stylesheet">
    <title>Funktionen</title>
</head>

<body>
    <!--Wrapper-Flexbox-->
    <main>
        <!--CSS Flexbox Header-->
        <div class="header">
            <!--Logo "Uni-Collab'" left side-->
            <h1 class="logo">Uni - Collab'</h1>
            <!--Header Buttons right side-->
            <div class="header_buttons">
                <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
            </div>
        </div>
        <!--Middle Flexbox-->
        <div class="middle">
            <!--Calendar - Row-->
            <div class="calendar_row">
                <h1 class="function_heading">Kalendar</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
            <!--ToDo - Row-->
            <div class="todo_row">
                <h1 class="function_heading">ToDo</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
            <!--Group - Row-->
            <div class="group_row">
                <h1 class="function_heading">Gruppen</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
            <!--Document - Row-->
            <div class="doc_row">
                <h1 class="function_heading">Dokumente</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat</p>
            </div>
        </div>
        <!--Button Back to Site-->
        <button class="button_back" onclick="document.location='/landingPage'">zur Startseite</button>
    </main>
</body>

</html>