<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Type import-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <!--CSS import-->
    <link href="/css/stylesheet_impressum.css" rel="stylesheet">
    <title>Impressum</title>
</head>


<body>
    <!--Left Side Flexbox (Picture)-->
    <div class="reg_left"></div>
    <!--Flexbox-->
    <main>
        <!--CSS Flexbox Header-->
        <div class="header">
            <!--Logo "Uni-Collab'" left side-->
            <h1 class="logo">Uni - Collab'</h1>
            <!--Header Buttons right side-->
            <div class="header_buttons">
                <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
            </div>
        </div>
        <!--Right Side Flexbox-->
        <div class="reg_right"></div>
    </main>
</body>

</html>