<!DOCTYPE html>
<html>
    <head>    <!--META HUMAN-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Font Type-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
            rel="stylesheet">
        <!--CSS Datei-->
        <link href="/css/stylesheet_impressum.css" rel="stylesheet">
        <!--Überschrift-->
        <title>Impressum</title>
    </head>


<body>
    <main>
        <div class="header">
            <div class="reg_left">
            <h1 class="logo">Uni - Collab'</h1> 
            <!--Logo "Uni-Collab'" auf der linken Seite-->
        </div>
            <div class="header_buttons">
                <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
            </div>
            <!--Linke Seite der Website-->

    <div class="reg_right">

        </div>
     </main>
    </body>
</html>