<!DOCTYPE html>
<html>
    <head>
        <title>Impressum</title>
        <!--META HUMAN-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Font Type-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
            rel="stylesheet">
        <!--CSS Datei-->
        <link href="/css/stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="logo">Uni - Collab'</h1>
        <div class="header_buttons">
            <button class="function_button" onclick="document.location='/funktion'">Funktionen</button>
            <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
        </div>
    </body>
</html>