<!DOCTYPE html>
<html>

<head>
    <!--META HUMAN-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Type-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <!--CSS Datei-->
    <link href="/css/stylesheet.css" rel="stylesheet">
    <!--Überschrift-->
    <title>Willkommen!</title>
</head>

<body>
    <main>
        <div class="header">
            <h1 class="logo">Uni - Collab'</h1>
                <div class="header_buttons">
                    <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                    <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                    <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
                </div>
        </div>
        <!--Titel-->
        <div>
            <h2 class="slogan">Weniger Stress, mehr Organisation</h2>
        </div>

        <div class="middle">

            <!--Platzhalter-->
            <p class="texte">
                Neu Hier? Kein Problem! 
                <button class="button_register" onclick="document.location='/register'">Registrieren</button>
            </p>

            <!--Login Formular-->
           
            <form action="/loginCheck" method="POST">
                <h3 class="form_heading">Melde dich an...</h3>
                <input type="text" id="username" name="username" placeholder="Benutzername">
                <!--Benutzername - Eingabe-->
                <input type="password" id="password" name="password" placeholder="Passwort">
                <!--Passwort anzeigen lassen-->
                <label for="">
                    <input style="margin-bottom: 3%; margin-top: 2%;" type="checkbox" onclick="myFunction()"> Passwort
                    anzeigen
                </label>
                <h3 class="form_footer">... und starte sofort durch!</h3>
                <!--Passwort - Eingabe-->
                    <button class="button_login" type="submit">Anmelden</button>
                <!--Submit - Button-->
            </form>
            <div style="color: red;">
                <%=error%>
            </div>
            <!--Error Anzeige falls nicht übereinstimmt-->
        </div>
    </main>

    <!--Funktion zum Anzeigen vom Passwort-->
    <script>
        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text"; //ändert beim draufklicken den "input-type" zu text, wodurch das eingetippte sichtbar wird
            } else {
                x.type = "password"; //beim entklicken wir das auf password zurückgesetzt
            }
        }
    </script>

</body>

</html>