<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <link href="/css/stylesheet_profil.css" rel="stylesheet">
    <!--Das ist der Titel-->
    <title>User - Startseite</title>
</head>

<body>
    <div class="flex-container">
        <div class="navbar">
            <div class="menu_container">
                <div class="menu-items">
                    <h1 class="logo">Uni - Collab'</h1>
                </div>
                <div class="menu-items">
                    <div class="profilPic"></div>
                </div>
                <div class="menu-items">
                    <ul class="navCon">
                        <li class="activeButton"><a class="menuLinks" href="profil">Profil</a></li>
                        <li class="navButtons"><a class="menuLinks" href="userStart">Startseite</a></li>
                        <li class="navButtons"><a class="menuLinks" href="toDoList">To-Do</a></li>
                        <li class="navButtons"><a class="menuLinks" href="calendar">Kalender</a></li>
                        <li class="navButtons"><a class="menuLinks" href="documents">Dokumente</a></li>
                        <li class="navButtons"><a class="menuLinks" href="groups">Gruppen</a></li>
                        <br>
                        <br>
                        <br>
                        <li class="navButtons2"><a class="menuLinks2" href="javascript:history.back()">zurück</a></li>
                        <li class="navButtons2"><a class="menuLinks2" href="landingPage">Abmelden</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overview">
            <form class="overview_grid">
                <div class="overview_items">
                    <h3>Profil Infos:</h3>

                    <a class="profilBox">Vorname:<input type="text" name="firstname">
                    Nachname:<input type="text" name="lastname">
                    Benutzername:</a><input type="text" name="usernameChange">
                    <button class="navButtons3" type="change">Ändern</button>

                </div>
                <div class="overview_items">
                    <h3>Password ändern:</h3>
                    <a class="profilBox">Password:</a><input type="password" name="passwordChange">
                    <a class="profilBox">Password wiederholen:</a><input type="password" name="passwordrepeatChange">
                    <button class="navButtons3" type="change">Ändern</button>
                </div>
                <div class="overview_items">
                    <label style="font-size: 20px;" for="uni">
                        <h3>Hochschule:</h3>
                        <select class="uniSelect" name="uni" size="1">
                            <option>HAW Hamburg</option>
                            <option>Universität Hamburg</option>
                            <option>Universität Kiel</option>
                            <option>FH Wedel</option>
                            <option>TUHH Hamburg</option>
                        </select>
                    </label>
                    <button class="navButtons3" type="change">Ändern</button>
                </div>
            </form>
            <form class="overview_grid">
                <div class="overview_items">
                    <h3>Adresse:</h3>
                    <a class="profilBox">Straße:</a><input type="text" name="street">
                    <a class="profilBox">Postleitzahl:</a><input type="text" name="postcode">
                    <a class="profilBox">Stadt:</a><input type="text" name="city">
                    <a class="profilBox">Land:</a><input type="text" name="country">
                    <button class="navButtons3" type="change">Ändern</button>
                </div>

                <div class="overview_items">
                    <h3>Geschlecht:</h3>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male"><a class="profilBox">Mann</a></label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female"><a class="profilBox">Frau</a></label>
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other"><a class="profilBox">Divers</a></label>
                    <button class="navButtons3" type="change">Ändern</button>
                </div>
            </form>
        </div>
    </div>

    </div>

</body>

</html>