<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <link href="/css/stylesheet_profil.css" rel="stylesheet">
    <!--Das ist der Titel-->
    <title>User - Startseite</title>
</head>

<body>
    <div class="flex-container">
        <div class="navbar">
            <div class="menu_container">
                <div class="menu-items">
                    <h1 class="logo">Uni - Collab'</h1>
                </div>
                <div class="menu-items">
                    <div class="profilPic"></div>
                </div>
                <div class="menu-items">
                    <ul class="navCon">
                        <li class="activeButton"><a class="menuLinks" href="profil">Profil</a></li>
                        <li class="navButtons"><a class="menuLinks" href="userStart">Startseite</a></li>
                        <li class="navButtons"><a class="menuLinks" href="toDoList">To-Do</a></li>
                        <li class="navButtons"><a class="menuLinks" href="calender">Kalender</a></li>
                        <li class="navButtons"><a class="menuLinks" href="documents">Dokumente</a></li>
                        <li class="navButtons"><a class="menuLinks" href="groups">Gruppen</a></li>
                        <br>
                        <br>
                        <br>
                        <li class="navButtons"><a class="menuLinks" href="javascript:history.back()">zurück</a></li>
                        <li class="navButtons"><a class="menuLinks" href="landingPage">Abmelden</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overview">
            <div class="profilInfos">
                <h3>Profil Infos:</h3>
                <a>Vorname:</a><input type="text" name="firstname"><br>
                <a>Nachname:</a><input type="text" name="lastname"><br>
                <a>Benutzername:</a><input type="text" name="usernameChange"><br>
                <button class="button_change" type="change">Ändern</button>
            </div>
            <div class="pwChange">
                <h3>Password ändern:</h3>
                <a>Password:</a><input type="password" name="passwordChange"><br>
                <a>Password wiederholen:</a><input type="password" name="passwordrepeatChange"><br>
                <button class="button_change" type="change">Ändern</button>
            </div>
            <div class="adress">
                <h3>Adresse:</h3>
                <a>Straße:</a><input type="text" name="street"><br>
                <a>Postleitzahl:</a><input type="text" name="postcode"><br>
                <a>Stadt:</a><input type="text" name="city"><br>
                <a>Land:</a><input type="text" name="country"><br>
                <button class="button_change" type="change">Ändern</button>
                <div class="universty">
                    <label style="font-size: 20px;" for="uni">Hochschule:
                        <select name="uni" size="1">
                            <option>HAW Hamburg</option>
                            <option>Universität Hamburg</option>
                            <option>Universität Kiel</option>
                            <option>FH Wedel</option>
                            <option>TUHH Hamburg</option>
                        </select>
                    </label>
                    <button class="button_change" type="change">Ändern</button>
                    <div class="container">
                        <label style="font-size: 20px;" for="gender">Geschlecht:</label>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Mann</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Frau</label>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Divers</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>

</html>