<!DOCTYPE html>
<html lang="de">

<head>
    <title>Register</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/registerdb" method="POST">
        Vorname:
        <br>
        <input type="text" name="firstname" placeholder="Vorname">
        <br>
        Nachname:
        <br>
        <input type="text" name="lastname" placeholder="Nachname">
        <br>
        Benutzername:
        <br>
        <input type="text" name="username" placeholder="Benutzername" required>
        <br>
        E-Mail:
        <br>
        <input type="email" name="email" placeholder="Uni-Mail" required>
        <br>
        Hochschule:
        <br>
        <select id="Auswahl" name="school">
            <!--erstellt ein Dropdown Menü-->
            <option>HAW Armgartd Straße</option>
            <option>HAW Bergedorf</option>
            <option>HAW Uhlenhorst</option>
            <option>HAW Berliner-Tor</option>
        </select>
        <br>
        Geschlecht:
        <br>
        <!--ermöglicht eine auswahl von mehreren Möglichkeiten -->
        <label for="Mann">Männlich</label>
        <input type="radio" name="geschlecht" id="Mann">
        <label for="Frau">Weiblich</label>
        <input type="radio" name="geschlecht" id="Frau">
        <label for="Divers">Divers</label>
        <input type="radio" name="geschlecht" id="Divers">
        <br>
        Passwort:
        <br>
        <input type="password" name="password" required>
        <br>Passwort wiederholen:
        <br>
        <input type="password" name="passwordrepeat" required>
        <br><br>
        <button type="submit">Registrieren</button>
    </form>

    <div style="color: red;">
        <%=error%>
    </div>

    <br>
    <button onclick="window.location.href='/landingPage'">Zurück</button><br>

</body>

</html>