<!DOCTYPE html>
<html lang="de">

<head>
    <!--META HUMAN-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Type-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <!--CSS Datei-->
    <link href="/css/stylesheet_register.css" rel="stylesheet">
    <!--Überschrift-->
    <title>Registrieren</title>
</head>

<body>
    <div class="flex-container">
        <div class="header">
            <h1 class="logo">Uni - Collab'</h1>
            <!--Logo "Uni-Collab'" auf der linken Seite-->
            <div class="header_buttons">
                <button class="function_button" onclick="document.location='/funktion'">Funktion</button>
                <button class="aboutUs_button" onclick="document.location='/aboutUs'">Über uns</button>
                <button class="impressum_button" onclick="document.location='/impressum'">Impressum</button>
            </div>
        </div>
        <div class="reg_left"></div>
        <div class="reg_right">
            <form action="/auth/register" method="POST">
                <h2 class="form_heading">Registrier dich...</h2>
                <!--Vorname-->
                <input type="text" name="firstname" placeholder="Vorname">
                <!--Nachname-->
                <input type="text" name="lastname" placeholder="Nachname">
                <!--Benutzername-->
                <input type="text" name="username" placeholder="Benutzername" required>
                <!--E-Mail-->
                <input type="email" name="email" placeholder="E-Mail" required>
                <!--Passwort-->
                <input type="password" name="password" placeholder="Passwort" required>
                <!--Passwort wiederholen-->
                <input type="password" name="passwordrepeat" placeholder="Passwort wiederholen" required>

                <label style="font-size: 20px;" for="uni">Hochschule:
                    <select name="uni" size="1">
                        <option>HAW Hamburg</option>
                        <option>Universität Hamburg</option>
                        <option>Universität Kiel</option>
                        <option>FH Wedel</option>
                        <option>TUHH Hamburg</option>
                    </select>
                </label>
                <!--ermöglicht eine Auswahl von mehreren Möglichkeiten -->
                <div class="container">
                    <label style="font-size: 20px;" for="gender">Geschlecht:</label>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Mann</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Frau</label>
                    <input type="radio" id="other" name="gender" value="other">
                    <label for="other">Divers</label>
                </div>
                <h2 class="form_footer">...und starte sofort durch!</h2>
                <!--Registrieren Button-->
                <button class="button_signup" type="submit">Sign me Up!</button><br>
                <button class="button_back" onclick="document.location='/landingPage'">Zur Startseite</button>
            </form>
        </div>
    </div>

    <!--Error Anzeige falls etwas nicht übereinstimmt-->
   <!--- <div style="color: red;">
        <%=error%>
    </div> --->
    </div>
</body>

</html>