<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/registerdb" method="POST">
            Vorname: 
            <br>
            <input type="text" name="firstname" placeholder="Vorname"> 
            <br>
            Nachname:
            <br>
            <input type="text" name="lastname" placeholder="Nachname"> 
            <br>
            Benutzername:
            <br>
            <input type="text" name="username" placeholder="dein Benutzername"> 
            <br>
            E-Mail:
            <br>
            <input type="email" name="email" placeholder="deine Uni-Mail"> 
            <br>
            Hochschule: 
            <br>
            <select id="Auswahl" name="school" placeholder="wähle deine Fakultät">
                <!--erstellt ein Dropdown Menü-->
                <option>HAW Armgartd Straße</option>
                <option>HAW Bergedorf</option>
                <option>HAW Uhlenhorst</option>
                <option>HAW Berliner-Tor</option>
            </select>
            <br>
            Geschlecht:
            <br>
            <!--ermöglicht eine auswahl von mehreren Möglichkeiten -->
            <label for="Mann">Männlich</label>
            <input type="radio" name="geschlecht" id="Mann">
            <label for="Frau">Weiblich</label>
            <input type="radio" name="geschlecht" id="Frau">
            <label for="Divers">Divers</label>
            <input type="radio" name="geschlecht" id="Divers">
            <br>
            Passwort:
            <br>
            <input type="password" name="password">
            <br>Passwort wiederholen:
            <br>
            <input type="password" name="passwordcheck">
            <br>
            <button type="submit">registrieren</button>
            <button onclick="window.location.href='landingPage'">zurück</button>
        </form>

    </body>
</html>