<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet_todo.css">
    <!--Font Type-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <title>To Do List</title>
</head>

<body>
    <div class="flex-container">
        <div class="navbar">
            <div class="menu_container">
                <div class="menu-items">
                    <h1 class="logo">Uni - Collab'</h1>
                </div>
                <div class="menu-items">
                    <div class="profilPic"></div>
                </div>
                <div class="menu-items">
                    <ul class="navCon">
                        <li class="navButtons"><a class="menuLinks" href="profil">Profil</a></li>
                        <li class="navButtons"><a class="menuLinks" href="userStart">Startseite</a></li>
                        <li class="activeButton"><a class="menuLinks" href="toDoList">To-Do</a></li>
                        <li class="navButtons"><a class="menuLinks" href="calendar">Kalender</a></li>
                        <li class="navButtons"><a class="menuLinks" href="documents">Dokumente</a></li>
                        <li class="navButtons"><a class="menuLinks" href="groups">Gruppen</a></li>
                        <br>
                        <br>
                        <br>
                        <li class="navButtons2"><a class="menuLinks2" href="javascript:history.back()">zurück</a></li>
                        <li class="navButtons2"><a class="menuLinks2" href="landingPage">Abmelden</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="overview">
                <h1 class="headline">Deine Aufgaben Liste </h1>

                <div class="howto">
                    <h2 class="headline2">Funktionsweise:</h2>
                    <ol class="explaineList">
                        <li class="steps">Aufgabe erstellen</li>
                        <li class="steps">einfacher Klick: Aufgabe als erledigt markieren</li>
                        <li class="steps">doppel Klick: aufgabe löschen</li>
                    </ol>
                    <hr>
                </div>

                <div class="container">
                    <h3 class="headline3">neue Aufgaben erstellen </h3>
                    <input id="inputField" type="text" placeholder="neue Aufgabe eingeben">
                    <button id="addToDo">+</button>
                </div>

                <h3 class="headline3">aktuelle Aufgaben</h3>
                <div class="toDos" id="toDoContainer">
                </div>
            </div>
        </div>  
    </div>       
            <script> let addToDoButton = document.getElementById('addToDo');
                let toDoContainer = document.getElementById('toDoContainer');
                let inputField = document.getElementById('inputField');

                addToDoButton.addEventListener('click', function () {
                    var paragraph = document.createElement('p');
                    paragraph.classList.add('paragraph-styling')
                    paragraph.innerText = inputField.value;
                    toDoContainer.appendChild(paragraph);
                    inputField.value = "";
                    paragraph.addEventListener('click', function () {
                        paragraph.style.textDecoration = "line-through";
                        paragraph.style.color = "#5a534c";
                        paragraph.style.backgroundColor = "rgba(255, 255, 255, 0.5)"
                    });
                    paragraph.addEventListener('dblclick', function () {
                        toDoContainer.removeChild(paragraph);
                    });
                });</script>
</body>

</html>