<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet_todo.css">
    <title>To Do List</title>
</head>

<body>
    <h1 class="headline">Deine Aufgaben Liste </h1>

    <div class="howto">
        <h3>Funktionsweise:</h3>
        <ol>
            <li>Aufgabe erstellen</li> 
            <li>einfacher Klick: Aufgabe als erledigt markieren</li>
            <li>doppel Klick: aufgabe löschen</li>
        </ol>
        <hr>
    </div>
    
    <div class = "container"> 
        <h2>neue Aufgaben erstellen </h2>
        <input id="inputField" type="text" placeholder="neue Aufgabe eingeben"> 
        <button id="addToDo">+</button>
    </div>

    <h2>aktuelle Aufgaben</h2>
    <div class="toDos" id="toDoContainer">
    </div>
    <script> let addToDoButton = document.getElementById('addToDo');
        let toDoContainer = document.getElementById('toDoContainer');
        let inputField = document.getElementById('inputField');
        
        addToDoButton.addEventListener('click', function(){
            var paragraph = document.createElement('p');
            paragraph.classList.add('paragraph-styling')
            paragraph.innerText = inputField.value;
            toDoContainer.appendChild(paragraph);
            inputField.value = "";
            paragraph.addEventListener('click', function(){
                paragraph.style.textDecoration = "line-through";
                paragraph.style.color = "#5a534c";
                paragraph.style.backgroundColor = "rgba(255, 255, 255, 0.5)"
            });
            paragraph.addEventListener('dblclick', function(){
                toDoContainer.removeChild(paragraph);
            });
        }); </script>
</body>
</html>