<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
    <!--Noch ein Kommentar-->>
=======
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
>>>>>>> 741454c90e498c7a9c277d140b3f76e0d7157e18
    <!--Das ist der Titel-->
    <title>User - Startseite</title>
</head>

<body>
    <h1>Moin <%=username%>!</h1>
    <h2>Was geht ab!</h2>
    <p>Das ist eine Test Seite. Klappt es?</p>
</body>

</html>