<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <link href="/css/stylesheet_userView_userArea.css" rel="stylesheet">
    <link href="/css/stylesheet_userView_calendar.css" rel="stylesheet">
    <!--Das ist der Titel-->
    <title>Gruppen</title>
</head>

<body>
    <div class="flex-container">
        <div class="navbar">
            <div class="menu_container">
                <div class="menu-items">
                    <h1 class="logo">Uni - Collab'</h1>
                </div>
                <div class="menu-items">
                    <div class="profilPic"></div>
                </div>
                <div class="menu-items">
                    <ul class="navCon">
                        <li class="navButtons"><a class="menuLinks" href="profil">Profil</a></li>
                        <li class="navButtons"><a class="menuLinks" href="userStart">Startseite</a></li>
                        <li class="navButtons"><a class="menuLinks" href="toDoList">To-Do</a></li>
                        <li class="navButtons"><a class="menuLinks" href="calendar">Kalender</a></li>
                        <li class="navButtons"><a class="menuLinks" href="documents">Dokumente</a></li>
                        <li class="activeButton"><a class="menuLinks" href="groups">Gruppen</a></li>
                        <br>
                        <br>
                        <br>
                        <li class="navButtons2"><a class="menuLinks2" href="javascript:history.back()">zurück</a></li>
                        <li class="navButtons2"><a class="menuLinks2" href="logout">Abmelden</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="overview">
            <img src="UserView_groups.png" alt="GruppenScreeshot">
        </div>

    </div>

</body>

</html>