<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <link href="/css/stylesheet_userArea.css" rel="stylesheet">
    <!--Das ist der Titel-->
    <title>User - Startseite</title>
</head>

<body>
    <main>
       
    </main>
</body>

</html>
<!--<div class="navbar">
            <ul class="navCon">
                <h1 class="logo">Uni - Collab'</h1>
                <li>Profil-Einstellungen</li>
                <li><a href="toDoList">To-Do</a></li>
                <li>Kalender</li>
                <li>Dokumente</li>
                <li>Gruppen</li>
                <li>zurück</li>
                <li>Abmelden</li>
            </ul>
        </div>-->
        <!--Logo,Foto,Profil-Einstellungen,Menu,Trennstrich,zurück,abmelden-->
        <!--<div class="desk">
            <div class="welcomeMSG">
                Herzlich Willkomen!!
            </div>

        </div>-->
