<!DOCTYPE html>
<html>

<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Shade&display=swap"
        rel="stylesheet">
    <link href="/css/stylesheet_userArea.css" rel="stylesheet">
    <!--Das ist der Titel-->
    <title>User - Startseite</title>
</head>

<body>
    <div class="flex-container">
        <div class="navbar">
            <div class="menu_container">
                <div class="menu-items">
                    <h1 class="logo">Uni - Collab'</h1>
                </div>
                <div class="profilPic"></div>
                <div class="menu-items">
                    <ul class="navCon">
                        <li class="navButtons">Profil-Einstellungen</li>
                        <li class="navButtons"><a href="userStart">Startseite</a></li>
                        <li class="navButtons"><a href="toDoList">To-Do</a></li>
                        <li class="navButtons"><a href="calender">Kalender</a></li>
                        <li class="navButtons"><a href="documents">Dokumente</a></li>
                        <li class="navButtons"><a href="groups">Gruppen</a></li>
                        <li class="navButtons"><a href="javascript:history.back()">zurück</a></li>
                        <li class="navButtons"><a href="landingPage">Abmelden</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="overview">
            <p> Hallo</p>
        </div>

    </div>

</body>
</html>