@import "stylesheet_main.css";

.texte {
    height: 8.9vw;
    width: 29.6vw;
    font-family: 'Bungee', cursive;
    font-size: 1.6vw;
    letter-spacing: 0.01rem;
    color: white;
    border: 1px solid #707070;
    border-radius: 2.38vw;
    background-color: #D6CFC8;
    text-align: center;
    margin-right: 8%;
}

/*Register button forwarded to register site*/
.button_register {
    font-family: 'Bungee', cursive;
    font-size: 0.83vw;
    color: #A7A5A2;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    border-radius: 0.99vw;
    padding: 0.2vw;
    cursor: pointer;
}


.button_register:hover {
    color: #ffffff;
    background-color: #5E5E59;
}

/*Loginform + Flexbox and Text adjustments*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.07rem;
    height: 15.873vw;
    width: 15.873vw;
    font-family: 'Bungee', cursive;
    color: white;
    border: 0.04vw solid #707070;
    border-radius: 2.38vw;
    background-color: #D6CFC8;
    margin-left: 5%
}

/*Text adjustment head*/
.form_heading {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:  1.43vw;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 /*Text adjustment footer*/
.form_footer {
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 0.67vw;
}

.button_login {
    font-family: 'Bungee', cursive;
    font-size: 0.63vw;
    color: #A7A5A2;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    cursor: pointer;
}

.button_login:hover {
    color: #ffffff;
    background-color: #5E5E59;
}

/*Input Styling*/

input[type=text] {
    /*Typ: Text*/
    height: 2.2vw;
    width: 8.52vw;
    font-size: 0.51vw;
    border: 2px solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px 20px;
    margin: 2%;
}

input[type=password] {
    /*Typ: Password*/
    height: 2.2vw;
    width: 8.52vw;
    font-size: 0.51vw;
    border: 0.162vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.40vw 0.79vw;
    margin: 2%;
    /* 2 animations: shake, and glow red */
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

.form_heading .popuptext {
    visibility: hidden;
    font-family:Helvetica;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.48vw;
    padding: 1.94vw;
    position: absolute;
    z-index: 1;
  }

/* Popup arrow */

.form_heading .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.403vw;
    border-width: 0.403vw;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */

.form_heading .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
        transform: translateX(8px);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-8px);
    }
}

@keyframes glow-red {
    50% {
        border-color: indianred;
    }
}