@import "stylesheet_main.css";
/*Hintergrundfarbe für die "Funktionen" - Seite*/
html {
    background-image: none;
    background-color: #C2BAB6;
}
/*Einzelne rows für die jeweiligen Funktionen*/

.function_heading {
    /*Überschrift über der jewiligen Funktion*/
    font-size: 3.75rem;
    color: #5E5E59;
}

.calendar_row {
    /*Kalender - Row*/
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 21px;
    color: #EFECE9;
    margin: 2%;
}

.todo_row {
    /*ToDo - Row*/
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 21px;
    color: #EFECE9;
    margin: 2%;
}

.group_row {
    /*Gruppen - Row*/
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 21px;
    color: #EFECE9;
    margin: 2%;
}

.doc_row {
    /*Dokumenten - Row*/
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 21px;
    color: #EFECE9;
    margin: 2%;
}