* {
    box-sizing: border-box;
}
html {
    background-image: url("../MainBackground.jpg");
    height: 100%;
    background-position: center;
    position: relative;
    color: black;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Bungee', cursive;
    display: block;
}
body {
    height: 99%;
    margin:auto;
}
/*Header Klassen*/
.header {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}
.header_buttons {
    /*Rechte Seite des Headers mit den Buttons*/
    float: right;
    margin: 10rem 10rem 0 0;
}
.function_button {
    /*Button "Funktion" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    padding-right: 0.7vw;
    cursor: pointer;
}
.function_button:hover {
    color: #000000;
}
.aboutUs_button {
    /*Button "About Us" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    padding-right: 0.7vw;
    cursor: pointer;
}
.aboutUs_button:hover {
    color: #000000;
}
.impressum_button {
    /*Button "Impressum" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-right: 1px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}
.impressum_button:hover {
    color: #000000;
}
.button_back {
    /*Button unter den Funktionen um auf die Startseite zurück zu gelangen*/
    font-family: 'Bungee', cursive;
    height: 2.38vw;
    width: 9.52vw;
    font-size: 0.83vw;
    color: #EFECE9;
    background-color: #5E5E59;
    border: solid;
    border-color: #707070;
    border-radius: 1vw;
    cursor: pointer;
    margin-bottom: 6.35vw;
}
.button_back:hover {
    color: #4D5258;
    background-color: #EFECE9;
}
/*Klassen für die Zentrierung*/
main {
    /*"Wrapper"-Klasse*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.middle {
    /*hauptsächliche Zentrierung*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*Schrift*/
.logo {
    /*Logo auf der linken Seite*/
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: unset;
    float: left;
    margin-left: 4%;
    font-size: 4.29vw;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black, 2px -2px 2px black, -2px 2px 2px black, -2px -2px 2px black;
}
.slogan {
    display: flex;
    margin-top: 0%;
    font-family: 'Bungee Shade', cursive;
    font-size: 2.77vw;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
}
label {
    font-weight: 700;
}
li{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: rgb(0, 0, 0);
    font-family: 'Bungee', cursive;
    font-size: 20px;
    cursor: auto;
}
.form_heading {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.732vw;
}
.form_footer {
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 0.67vw;
}
/*Textumbruch nicht genutzt*/
/*
.break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}*/