* {
    box-sizing:content-box;
    text-align:center;
    margin-left: auto; 
    margin-right: auto;
    /*display: flex;*/
    /*justify-content: center;*/
}

html {
    height: 100%;
    background-position: center;
    position: relative;
    color: black;
    background-size: cover;
    background-color: #B8AB98;
    background-attachment: fixed;
}

body {
    height: 99%;
    margin-left: 0%;
    margin-top: 0%;
}

main {
    /*"Wrapper"-Klasse*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.logo {
    /*Logo auf der linken Seite*/
    float: left;
    margin-top: -3%;
    margin-left: 9%;
    font-family: 'Bungee', cursive;
    font-size: 6.75rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}
.headline2 {
    font-family: 'Bungee', cursive;
    font-size: 3.375rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
    margin-top: 50px;
    margin-bottom: 0px;
}

.text {
    color: rgb(255, 255, 255);
    max-width: 800px;
    font-size: 20px;
    text-align:justify;
    margin-bottom: 100px;
    margin-top: 50px;
}

hr{
    height: 2px;
    background-color: black;
    } 

.gallery {
    margin: 5px auto;
    border: 1px solid #ccc;
    display: flex;
}

.roundpic {
    border-radius: 50%;
    text-align: center;
}

.desc {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

/* Buttons */ 
.logo {
    /*Logo auf der linken Seite*/
    float: left;
    margin-top: -3%;
    margin-left: 9%;
    font-family: 'Bungee', cursive;
    font-size: 6.75rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

/*Rechte Seite der Website*/

.reg_right {
    display: flex;
    float: right;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: center;
}

.header_buttons {
    /*Wrapper-Klasse für die Buttons auf der rechten Seite*/
    margin-top: 5rem;
}

.function_button {
    /*Button "Funktion" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    padding-right: 15px;
    cursor: pointer;
}
.function_button:hover {
    color: #000000;
  }

.aboutUs_button {
    /*Button "About Us" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    padding-right: 15px;
    cursor: pointer;
}
.aboutUs_button:hover {
    color: #000000;
  }

.impressum_button {
    /*Button "Impressum" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-right: 1px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}
.impressum_button:hover {
    color: #000000;
  }

  .button_back {
    /*Button unter den Funktionen um auf die Startseite zurück zu gelangen*/
    font-family: 'Bungee', cursive;
    height: 3.75rem;
    width: 15rem;
    font-size: 21px;
    color: #EFECE9;
    background-color: #5E5E59;
    border: solid;
    border-color: #707070;
    border-radius: 25px;
    cursor: pointer;
}
.button_back:hover {
    color: #000000;
    background-color: #eceb88;
  }