/*Import from Main*/
@import "stylesheet_main.css";

/*Background override for register*/
html {
    background-image: none;
    background-color: #D6CFC8;
}

/*Flex Container*/
.flex-container {
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: unset;
    align-self: unset;
}

/*Flexbox childs*/
.header:nth-child(1){
}

.reg_left:nth-child(2) {
    display: flex;
    z-index: -1;
    background-image: url("../Register.jpg");
    height: 100%;
    width: 38.333vw;
    position: absolute;
    background-size: cover;
}

.reg_right:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 20vw;
}

/*Form adjustments*/
form {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.07rem;
    font-family: 'Bungee', cursive;
    color: white;
}

.form_heading {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.43vw;
    color: #26222681;
}

.form_footer {
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 0.91vw;
    color: #26222681;
}

/*Input Text adjustments*/
input[type=text] {
    /*Typ: Text*/
    font-family: 'Bungee', cursive;
    font-size: 0.71vw;
    border: 0.079vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.4vw 0.8vw;
    margin: 2%;
}

input[type=password] {
    /*Typ: Password*/
    font-family: 'Bungee', cursive;
    font-size: 0.71vw;
    border: 0.079vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.4vw 0.8vw;
    margin: 2%;
}

input[type=email] {
    /*Typ: E-Mail*/
    font-family: 'Bungee', cursive;
    font-size: 0.71vw;
    border: 0.079vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.4vw 0.8vw;
    margin: 2%;
}

/*Register button*/
.button_signup {
    height: 2.6vw;
    width: 9.52vw;
    font-family: 'Bungee', cursive;
    font-size: 0.83vw;
    color: #A7A5A2;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    border-radius: 0.99vw;
    padding: 0.2vw;
    cursor: pointer;
}

/*Styling for the dropdown menu*/
select {
    padding: 0.4vw 0.8vw;
    border: none;
    border-radius: 0.16vw;
    background-color: #f1f1f1;
}

/*Container for the gender*/
.container {
    margin: 0.4vw;
}
/*Simple backbutton*/
.button_back{
    margin-bottom: 0;
}
