@import "stylesheet.css";

/*Hintergrundfarbe für die "Register" - Seite*/

html {
    background-image: none;
    background-color: #D6CFC8;
}

/*Klassen für die Zentrierung*/

main {
    align-items: unset;
    align-self: unset;
}

/*Linke Seite der Website mit dem Bild*/

.reg_left {
    display: flex;
    z-index: -1;
    background-image: url("../Register.jpg");
    height: 100%;
    width: 60.375rem;
    position: absolute;
    background-size: cover;
}

.reg_right {
 margin-right: 21%;
 margin-top: -5%;
}

/*Registerformular - Styling auf der rechten Seite der Website*/

form {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.07rem;
    font-family: 'Bungee', cursive;
    color: white;
}

.form_heading {
    /*Text über dem Formular "Melde dich an..."*/
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 36px;
    color: #26222681;
}

.form_footer {
    /*Text unter dem Formular "...und starte sofort durch"*/
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 23px;
    color: #26222681;
}

input[type=text] {
    /*Typ: Text*/
    font-family: 'Bungee', cursive;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px 20px;
    margin: 2%;
}

input[type=password] {
    /*Typ: Passwort*/
    font-family: 'Bungee', cursive;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px 20px;
    margin: 2%;
}

input[type=email] {
    /*Typ: E-Mail*/
    font-family: 'Bungee', cursive;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px 20px;
    margin: 2%;
}

select {
    /*Styling des Auswahlfeldes für Hochschulen*/
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.container {
    /*Wrapper-Klasse für die Geschlechtsauswahl*/
    margin: 10px;
}

.button_signup {
    /*Button zur Registrierung und Weiterleitung auf userStart.ejs*/
    font-family: 'Bungee', cursive;
    height: 3.75rem;
    width: 15rem;
    font-size: 21px;
    color: #4D5258;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    border-radius: 25px;
    cursor: pointer;
}
.button_signup:hover {
    color: #ffffff;
    background-color: #5E5E59;
  }