/*Import*/
@import "stylesheet_main.css";

/*Background override for Impressum*/
html {
    background-image: none;
    background-color: #D6CFC8;
}

/*Left side override for impressum*/
.reg_left {
    z-index: -1;
    background-image: url("../ImpressumCut.png");
    height: 100%;
    width: 38.3333vw;
    position: absolute;
    float: left;
    flex-direction: column;
    background-size: cover;
}