@import "stylesheet_main.css";
/*Hintergrundfarbe für die "Funktionen" - Seite*/
html {
    background-image: none;
    background-color: #C2BAB6;
}
/*Einzelne rows für die jeweiligen Funktionen*/

/*Überschrift über der jewiligen Funktion*/
.function_heading { 
    font-size: 1.5vw;
    color: #5E5E59;
}
/*Kalender - Row*/
.calendar_row {  
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    color: #EFECE9;
    margin: 2%;
}
/*ToDo - Row*/
.todo_row {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    color: #EFECE9;
    margin: 2%;
}

/*Gruppen - Row*/
.group_row {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    color: #EFECE9;
    margin: 2%;
}

/*Dokumenten - Row*/
.doc_row {    
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Bungee', cursive;
    font-size: 1vw;
    color: #EFECE9;
    margin: 2%;
}