* {
    box-sizing:content-box;
    text-align:center;
    margin-left: auto; 
    margin-right: auto;
    /*display: flex;*/
    /*justify-content: center;*/
}

html {
    background-color: #D6CFC8;
    background-position: center;
    color: black;
    background-size: cover;
    background-attachment: fixed;
}

body {
    max-width: 1000px;
    text-align:center;
}

.headline {
    font-family: 'Bungee', cursive;
    font-size: 4.375rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
    margin-top: -15px;
    margin-bottom: -25px;
}
.headline2 {
    font-family: 'Bungee', cursive;
    font-size: 3.375rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
    margin-top: 50px;
    margin-bottom: 0px;
}

#aboutUsText {
    color: rgb(255, 255, 255);
    max-width: 800px;
    font-size: 20px;
    text-align:justify;
    margin-bottom: 100px;
    margin-top: 50px;
}

hr{
    height: 2px;
    background-color: black;
    } 

.gallery {
    margin: 5px auto;
    border: 1px solid #ccc;
    display: flex;
}

.roundpic {
    border-radius: 50%;
    text-align: center;
}

.desc {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}