@import "stylesheet_main.css";
/*Hintergrundfarbe für die "Impressum" - Seite*/
html {
    background-image: none;
    background-color: #D6CFC8;
}

/*Linke Seite der Website mit dem Bild*/

.reg_left {
    z-index: -1;
    background-image: url("../ImpressumCut.png");
    height: 100%;
    width: 38.3333vw;
    position: absolute;
    float: left;
    flex-direction: column;
    background-size: cover;
}