/*Gesamte EJS*/

* {
    box-sizing: border-box;
}

/*Hintergrundfarbe für die "AboutUs" - Seite*/
html {
    /*background-image: url();*/
    height: 100%;
    background-position: center;
    position: relative;
    background-size: cover;
    background-color: #D6CFC8;
    background-attachment: fixed;
}

body {
    height: 99%;
    margin:auto;
}

/*Header Klassen*/
.header {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.header_buttons {
    /*Rechte Seite des Headers mit den Buttons*/
    margin: 10rem 14rem;
    margin-right: 15rem;
}

.logo {
    /*Logo auf der linken Seite*/
    float: left;
    margin-left: 4%;
    font-family: 'Bungee', cursive;
    font-size: 6.75rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black, 2px -2px 2px black, -2px 2px 2px black, -2px -2px 2px black;
}

.function_button {
    /*Button "Funktion" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    padding-right: 15px;
    cursor: pointer;
}

.function_button:hover {
    color: #000000;
}

.aboutUs_button {
    /*Button "About Us" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    padding-right: 15px;
    cursor: pointer;
}

.aboutUs_button:hover {
    color: #000000;
}

.impressum_button {
    /*Button "Impressum" auf der rechten Seite*/
    font-family: 'Bungee', cursive;
    font-size: 25px;
    background-color: rgba(245, 222, 179, 0);
    color: #ffffff;
    border-color: #707070;
    border-right: 1px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

.impressum_button:hover {
    color: #000000;
}

/*Klassen für die Zentrierung*/

main {
    /*"Wrapper"-Klasse*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.middle {
    /*hauptsächliche Zentrierung*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headline {
    font-family: 'Bungee', cursive;
    font-size: 7rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
    margin-bottom: -25px;
    margin-top: 0%;
    text-align:center;
    margin-left: auto; 
    margin-right: auto;
}
.headline2 {
    font-family: 'Bungee', cursive;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
    margin-top: 50px;
    margin-bottom: 0px;
    text-align:center;
    margin-left: auto; 
    margin-right: auto;
}

.aboutUsText {
    color: rgb(255, 255, 255);
    max-width: 93.75rem;
    font-size: 2.5rem;
    margin-bottom: 7rem;
    text-align:center;
}
.Magicmaker{
    max-width: fit-content;
    margin-left: auto; 
    margin-right: auto;
}
hr{
    height: 2px;
    background-color: black;
    margin-left: auto; 
    margin-right: auto;
    } 

.gallery {
    margin-bottom: 4rem;
    border: 1px solid #ccc;
    display: flex;
    text-align:center;
    margin-left: auto; 
    margin-right: auto;
}

.roundpic {
    border-radius: 50%;
    text-align: center;
}

.desc {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.button_back {
    /*Button unter den Funktionen um auf die Startseite zurück zu gelangen*/
    font-family: 'Bungee', cursive;
    height: 3.75rem;
    width: 15rem;
    font-size: 21px;
    color: #EFECE9;
    background-color: #5E5E59;
    border: solid;
    border-color: #707070;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10rem;
}
.button_back:hover {
    color: #4D5258;
    background-color: #EFECE9;
  }