@import "stylesheet_main.css";
.logo{
    font-size: 2vw;
    text-align: center;
    float: none;
}
/*Main FlexBox*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
  
.navbar:nth-child(1) {
    display: block;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 25%;
}
  
.overview:nth-child(2) {
    display: block;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    margin: 3rem 3rem 3rem 3rem;
    width: 70%;
}
/*2nd Flex Area*/
.menu_container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: normal;
    background-color: #f1f1f1ba;
    height: 100vh;
}
  
.menu-items:nth-child(1) {
    display: block;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: -webkit-fill-available;
    width: -moz-available;
}
.menu-items:nth-child(2) {
    display: block;
    flex-basis: auto;
    align-self: center;
    order: 1;
}
.menu-items:nth-child(3) {
    display: block;
    flex-basis: auto;
    align-self: auto;
    order: 1;
}
.navCon{ 
    display: block;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column; 
}
ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navButtons{
    margin: 5% 27%;
    background-color: #bf9f70d7;
    width: 11vw;
    height: 2vw;
    border-radius: 0.3rem;
}

a.menuLinks:hover{
    background-color: #be7b16d7;
    border-radius: 0.3rem;
} 

.activeButton{
    margin: 5% 27%;
    width: 11vw;
    height: 2vw;
    border-radius: 0.3rem;
    background-color: #be7b16d7;
    border-radius: 0.3rem;
}

.profilPic{
    background-image: url(../JohnDoe.png);
    width: 7vw; 
    height: 7vw;
    background-size: cover;
}

.menuLinks{
    display: block;
    text-decoration: none;
    color: black;
    width: 11vw;
    height: 2vw;
}

li{
    font-size: 0.85vw;
}

/*3 Flex Area */
.overview_grid{
    display: inline-grid;
    background-color: rgba(0, 0, 0, 0);
    width: 49%;
    height: 100%;
    grid-gap: 5px;
}

.overview_items:nth-child(1) {
    order: 1;
    width: 100%;
    height: 100%;
    border: black solid 2px;
    background-color: #bf9f70d7;
}
  
.overview_items:nth-child(2) {
    order: 3;
    width: 100%;
    height: 100%;
    border: black solid 2px;
    background-color: #bf9f70d7;
}
































/*Alter Code*/
/*tuned off
.bodyA{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.192) 35%,rgba(255, 0, 0, 0.315) 35%);
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row; 
}

.navbar{
    order: 1;
    display: flex;
    width: 25%;
    background-color: #f1f1f1ba;    
    position: fixed;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.navCon{ 
    display: block;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
 
}

li{
    padding: 5px 10px;
    border: 10px solid rgba(170, 170, 170, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Bungee', cursive;
    font-size: 25px;
    cursor: pointer;
}
.desk{
    order: 2;
    height: 100%;
    margin-left: 35%;
}

.welcomeMSG{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Bungee', cursive;
    font-size: 25px;
    cursor: pointer;
}