@import "stylesheet_main.css";

/*Hintergrundfarbe für die "Register" - Seite*/

html {
    background-image: none;
    background-color: #D6CFC8;
}

/*Klassen für die Zentrierung*/

.flex-container {
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: unset;
    align-self: unset;
}

/*Linke Seite der Website mit dem Bild*/

.header:nth-child(1){
}

.reg_left:nth-child(2) {
    display: flex;
    z-index: -1;
    background-image: url("../Register.jpg");
    height: 100%;
    width: 38.333vw;
    position: absolute;
    background-size: cover;
}

.reg_right:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 20vw;
}

/*Registerformular - Styling auf der rechten Seite der Website*/

form {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.07rem;
    font-family: 'Bungee', cursive;
    color: white;
}

.form_heading {
    /*Text über dem Formular "Melde dich an..."*/
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.43vw;
    color: #26222681;
}

.form_footer {
    /*Text unter dem Formular "...und starte sofort durch"*/
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 0.91vw;
    color: #26222681;
}

input[type=text] {
    /*Typ: Text*/
    font-family: 'Bungee', cursive;
    font-size: 0.71vw;
    border: 0.079vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.4vw 0.8vw;
    margin: 2%;
}

input[type=password] {
    /*Typ: Passwort*/
    font-family: 'Bungee', cursive;
    font-size: 0.71vw;
    border: 0.079vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.4vw 0.8vw;
    margin: 2%;
}

input[type=email] {
    /*Typ: E-Mail*/
    font-family: 'Bungee', cursive;
    font-size: 0.71vw;
    border: 0.079vw solid #ccc;
    border-radius: 0.28vw;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 0.4vw 0.8vw;
    margin: 2%;
}

.button_signup {
    /*Registrier Button mit Weiterleitung zu register.ejs*/
    height: 2.6vw;
    width: 9.52vw;
    font-family: 'Bungee', cursive;
    font-size: 0.83vw;
    color: #A7A5A2;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    border-radius: 0.99vw;
    padding: 0.2vw;
    cursor: pointer;
}

select {
    /*Styling des Auswahlfeldes für Hochschulen*/
    padding: 0.4vw 0.8vw;
    border: none;
    border-radius: 0.16vw;
    background-color: #f1f1f1;
}

.container {
    /*Wrapper-Klasse für die Geschlechtsauswahl*/
    margin: 0.4vw;
}
.button_back{
    margin-bottom: 0;
}
