@import "stylesheet_main.css";

.texte {
    height: 225px;
    width: 746px;
    font-family: 'Bungee', cursive;
    font-size: 43px;
    letter-spacing: 0.01rem;
    color: white;
    border: 1px solid #707070;
    border-radius: 60px;
    background-color: #D6CFC8;
    text-align: center;
    margin-right: 8%;
}

.button_register {
    /*Registrier Button mit Weiterleitung zu register.ejs*/
    font-family: 'Bungee', cursive;
    font-size: 21px;
    color: #A7A5A2;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.button_register:hover {
    color: #ffffff;
    background-color: #5E5E59;
}

/*Anmeldeformular - Styling auf der rechten Seite der .middle-Klasse*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.07rem;
    height: 25rem;
    width: 25rem;
    font-family: 'Bungee', cursive;
    color: white;
    border: 1px solid #707070;
    border-radius: 60px;
    background-color: #D6CFC8;
    margin-left: 5%
}

.form_heading {
    /*Text über dem Formular "Melde dich an..."*/
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 36px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form_footer {
    /*Text unter dem Formular "...und starte sofort durch"*/
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 17px;
}

.button_login {
    /*Button zur Anmeldeverifizierung und Weiterleitung auf userStart.ejs*/
    font-family: 'Bungee', cursive;
    font-size: 16px;
    color: #A7A5A2;
    background-color: #EFECE9;
    border: solid;
    border-color: #707070;
    cursor: pointer;
}

.button_login:hover {
    color: #ffffff;
    background-color: #5E5E59;
}

/*Input Styling*/

input[type=text] {
    /*Typ: Text*/
    height: 44px;
    width: 240px;
    font-size: 13px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px 20px;
    margin: 2%;
}

input[type=password] {
    /*Typ: Passwort*/
    height: 44px;
    width: 240px;
    font-size: 13px;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px 20px;
    margin: 2%;
    /* 2 animations: shake, and glow red */
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

.form_heading .popuptext {
    visibility: hidden;
    font-family:Helvetica;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1.5rem;
    position: absolute;
    z-index: 1;
  }

/* Popup arrow */

.form_heading .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */

.form_heading .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
        transform: translateX(8px);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-8px);
    }
}

@keyframes glow-red {
    50% {
        border-color: indianred;
    }
}